/*Esto es del contact.blade*/
@extends('layouts.app')

@section('content')
    <h1> Contact Page </h1>   
@stop

@section('footer')

<script>alert('Hello Visitor!!')</script>

@stop

/*Esto es de post.blade*/
@extends('layouts.app')

@section('content')
     <h1>Post Page {{$id}} {{$name}} {{$password}}</h1>
@stop
